body{
    
    
 background-color: rgb(97, 229, 97) ;   

}
.root-score{
    display: flex;
    justify-content: center;

}
.root-playingarea
{
    display: flex;
    justify-content: center;
}
.nameslabel{
    display: block;
    width: 135px;
   
    top: 78px;
    left: 258px;
   
    color: white;
    margin-left: 25px;
    
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;



}

#score{
    display: flex;
    border: 2px solid white;
    width: 800px;
    height: 158px;
    top: 62px;
    left: 240px;
    border-radius: 13px;
    justify-content: space-between;

}
#scoreboard{
    display: flex;
    justify-content: space-around;
   
}

.scorebox{
    
   
    width: 139px;
    height: 128px;
    top: 77px;
    left: 713px;
    border-radius: 9px;
    background-color: white;
    margin: 15px;
    align-items: center;
   
    
}

.scorelabel{
    display: block;
     margin: auto;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color:  #252525;
    width: auto;

}

.scoredisplay{
    width: 100%;
    margin: auto;
    padding: 0%;
    height: 63px;
    top: 128px;
    left: 742px;
    font-family: Roboto;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    resize: none;
}

#playingarea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 450px;
    height: 380px;
    margin-top: 20px;
   
    

    
   

}
.play{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  z-index: 100;
  
}
.play-rock{
   
    border: 16px solid #0074b6;
}
.play-paper{
   
    border: 16px solid #ffa943;
   
    margin-top: 0;

}
.play-scissor{
    margin-left: 0%;
    border: 16px solid #bd00ff;
    align-self: center;
   
}
.line1{
    margin-top: 60px;
    width: 152px;
    height: 0;
    border: 7px solid #000000a3;
    padding: 0;
    position: relative;
}
.line2{
    width: 200px;
    height: 0;
    transform: rotate(60deg);
    border: 7px solid #000000a3;
    border-radius: 12%;
    padding: 0;
}
.line3{
    width: 200px;
    height: 0;
    transform: rotate(120deg);
    border: 7px solid #000000a3;
    padding: 0;
}