
body{
    
    
 background-color: rgb(125, 203, 125) ;   

}
h3{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    
}

#root-score{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
#root-playingarea
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.nameslabel{
    display: block;
    width: 135px;
    color: white;
    margin-left: 25px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;



}

#score{
    display: flex;
    border: 2px solid white;
    width: 800px;
    height: 158px;
    border-radius: 13px;
    justify-content: space-between;

}
#scoreboard{
    display: flex;
    justify-content: space-around;
   
}

.scorebox{
    
   
    width: 139px;
    height: 128px;
    top: 77px;
    left: 713px;
    border-radius: 9px;
    background-color: white;
    margin: 15px;
    align-items: center;
   
    
}

.scorelabel{
    display: block;
     margin: auto;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color:  #252525;
    width: auto;

}

.scoredisplay{
    width: 100%;
    margin: auto;
    padding: 0%;
    height: 63px;
    top: 128px;
    left: 742px;
    font-family: Roboto;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    resize: none;
}

#playingarea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 530px;
    height: 440px;

}

.play-rock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 100;
    border: 16px solid #0074b6;
    
   
}
.play-paper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: 100;
    border: 16px solid #ffa943;
    margin-top: 0;

}
.play-scissor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 100;
  margin-left: 0%;
  border: 16px solid #bd00ff;
  align-self: center;
   
}
.line1{
    margin-top: 80px;
    width: 152px;
    height: 0;
    border: 7px solid #000000a3;
    padding: 0;
    position: relative;
}
.line2{
    width: 220px;
    height: 0;
    transform: rotate(60deg);
    border: 7px solid #000000a3;
   
    padding: 0;
}
.line3{
    width: 220px;
    height: 0;
    transform: rotate(120deg);
    border: 7px solid #000000a3;
    padding: 0;
}
.rules-button{
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 9px; 

    
}
#rules-model{
  
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    right: 40px;
    bottom: 80px;
    border: 3px solid darkorange;
    width: 240px;
    color: #ffff;
    background-color: #004429;
    border: 7px solid #ffffff;
    border-radius: 13px;
    padding: 1.8rem;
    z-index: 7;
    animation-name: closeModal;
    animation-duration: 0.5s;
    display: none;
}
.rules-list{
    font-size: 17px;
    list-style: square;
    text-align: left;
    margin-bottom: 0.6rem;
    letter-spacing: 0.008em;
    text-align: justify;
}
#rule-close{
    position: absolute;
    width: 60px;
    height: 60px;
    right: -31px;
    top: -29px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 35px;
    color: white;
    font-weight: 500;
    
}
 #root-result{
    display: none;
    justify-content: center;
    

 }
 .result-board{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    margin-top: 100px;
    
    justify-content:space-around;
    align-items: center;
   
    
 }
 .play-again-btn{
    background: #ffffff;
    color: #6b6b6b;
    border: 1px solid transparent;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
    padding: 0.6rem 1.8rem;
    
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 5rem;

 }
 #win-status{
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 30px;
 }
#next-btn{
    display: none;
    background: #ffffff;
    color: #6b6b6b;
    border: 1px solid transparent;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
    padding: 0.6rem 1.8rem;
    
    text-transform: uppercase;
    cursor: pointer;
}